<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/first-component" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second-component" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

<app-component-basics [value]="value" [message]="message" [label]="label" number="40"
  disabled="true"></app-component-basics>

<h2>Products list</h2>
<app-products />

<h2>Products list with card component using content propagation</h2>
<app-products [card]="true" />

<h2>Template Syntax Concepts</h2>
<app-template-syntax />